.logo {
    height: 75px;
    width: 90px;
    padding: 5px 10px;
}

.nav-back {
    background-color: white;
    color: black;
}
.btn{
color: black;
        font-size: 18px ;
        font-weight: bold ;
        margin-left: '20px';
        text-decoration: 'none',
    }